* {
  // variables
  --scale-val: 1.7;

  // font
  font-family: 'M PLUS Rounded 1C';
  // font-family: "Varela Round" monospace;
  // font-family: 'Varela Round';

  // colors
  color: #fcf7f7;

  // other
}

$layers-num: 64;
$max-rot-instances: 12;

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

body {
  margin: 0;
  background-color: #000;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;

  color: #fff;
  background-color: #00000033;
  backdrop-filter: blur(6px);
}


.center-horizontal {
  display: flex;
  justify-content: center;
}
.center-vertical {
  display: flex;
  align-self: center;
}

.content-wrap {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.button {
  margin-left: 8px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}
.button:hover {
  text-decoration: underline;
}

.row {
  display: flex;
  flex-direction: row;
}

.spacer-vertical {
  margin-left: 16px;
  margin-right: 16px;
}
.spacer-horizontal{
  margin-top: 32px;
  margin-bottom: 32px;
  height:1px;
}

.margin-left {
  margin-left: 4px;
}

// repeating styles 
@for $i from 0 through $max-rot-instances {
  #ComputerComponent-#{$i} {
    position: relative;
    cursor: pointer;
    margin: 25px;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 64px;
    height: 64px;
    user-select: none;
  }
}
@for $i from 0 through $max-rot-instances {
  #ArchLogoComponent-#{$i} {
    position: relative;
    cursor: pointer;
    margin: 25px;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 48px;
    height: 48px;
    user-select: none;
  }
}

@for $i from 0 through $layers-num {
  .i#{$i} {
    top: calc(-#{$i}px * var(--scale-val));
  }
}


.stack-layer {
  position: absolute;
  pointer-events: none;
  margin: auto;
}

// animating
.rotate {
  position: relative;

  image-rendering: pixelated;
  animation: rotate-animation 3s linear infinite;
}

@keyframes rotate-animation {
  from {
    transform: rotate(0deg) scale(var(--scale-val));
  } 
  to {
    transform: rotate(360deg) scale(var(--scale-val));
  }
}